ion-content {
  --ion-background-color: #1a1a1a; /* Define a cor de fundo do conteúdo */
}

.anime-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.anime-card {
  margin: 10px;
  width: calc(50% - 20px); /* Calcula a largura para dois cards por linha */
  max-width: 300px;
  height: auto;
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  position: relative;
  background-color: black;
}

.anime-card:hover {
  transform: translateY(-5px);
}

.image-container {
  position: relative;
  height: 200px; /* Altura da imagem */
}

ion-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Garante que a imagem cubra completamente o espaço */
  border-radius: 15px 15px 0 0; /* Borda arredondada apenas no topo */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.anime-card:hover .overlay {
  opacity: 1;
}

ion-card-header {
  background-color: transparent;
  color: #fff;
  padding: 0;
}

ion-card-title {
  font-size: 18px;
  font-weight: bold;
  color: orangered;
  margin-bottom: 0;
}

ion-card-subtitle {
  font-size: 14px;
  color: #ccc;
}

ion-card-content {
  padding: 0;
  background-color: transparent;
}

.details {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #ccc;
  width: 100%;
}

.details span {
  display: inline-block;
  margin: 5px 0;
}

ion-button {
  margin-top: 10px;
  background-color: orangered;
}

@media screen and (max-width: 768px) {
  .anime-container {
    flex-direction: column; /* Altera para uma coluna */
    align-items: center; /* Centraliza os itens verticalmente */
    justify-content: center;
    padding: 0;
  }

  .anime-card {
    width: 80%; /* Ocupa toda a largura em telas menores */
    max-width: none; /* Remove a restrição de largura máxima */
  }
}
